<div class="landing-container">
  <!-- Top Section -->
  <div class="row">
    <!-- Card 1 -->
    <a class="card" href="/article1">
      <img src="assets/images/diagnosisImageCounsellingChair.jpg" alt="What it is, what it does and everything in between! :) " />
      <div class="card-content">
        <span> ADHD </span>
        <br>
        <span class="description-text">What is it? </span>
        <br>
        <span class="description-text"> </span>


      </div>
    </a>

    <!-- Card 2 -->
    <a class="card" href="/article2">
      <img src="assets/images/talkingToFamilyImage.jpg" alt="Talking to Family About ADHD" />
      <div class="card-content">
        <span> Do I have ADHD?</span>
      </div>
    </a>
  </div>

  <!-- Middle Section -->
  <div class="row single-card">
    <!-- Card 3 -->
    <a class="card" href="/article3">
      <img src="assets/images/List.jpg" alt="List of the Pros" />
      <div class="card-content">
        <span>List of the Pros</span>
      </div>
    </a>
  </div>

  <!-- Bottom Section -->
  <div class="row">
    <!-- Card 4 (Image Transition) -->
    <div class="card">
      <div class="image-timed-transition">
        <img src="assets/images/MomBoySitDown.jpg" alt="Mom and Son" />
        <img src="assets/images/DadDaughterSitDown.jpg" alt="Dad and Daughter" />
      </div>
      <div class="card-content">
        <span>Family Conversations on ADHD</span>
      </div>
    </div>



    <!-- Card 5 -->
    <a class="card" href="/article5">
      <img src="assets/images/article5.jpg" alt="Article 5" />
      <div class="card-content">
        <span>EMPTY</span>
      </div>
    </a>
  </div>
</div>
